name: Deploy Databricks Workspace Configuration
run-name: Deploy Databricks workspace ${{ inputs.project }} - ${{ inputs.environment }}
on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - test
          - prod
      project:
        description: 'Project to deploy'
        required: true
        default: 'demo'
        
permissions:
    id-token: write
    contents: read

jobs:
  # Create a plan of Terraform deployment
  plan:
    name: Plan ${{ inputs.project }} - ${{ inputs.environment }}
    # environment: ${{ inputs.environment }}
    runs-on: 'ubuntu-latest'
    steps:
        - uses: actions/checkout@v4
          with:
            lfs: true
        - name: Plan
          uses: ./.github/actions/run-terraform/
          with:   
            stack: platform
            project: ${{ inputs.project }}
            command: plan
            flags: ""
            environment: ${{ inputs.environment }}
            state_storage: "sadbxtest"
            state_resource_group: "rg-databricks"
            azure_client_id: ${{ vars.AZURE_CLIENT_ID }}
            azure_tenant_id: ${{ vars.AZURE_TENANT_ID }}
            azure_subscription_id: ${{ vars.AZURE_SUBSCRIPTION_ID }}
            azure_principal_id: ${{ vars.AZURE_PRINCIPAL_ID }}
 #Apply the Terraform deployment
  apply:
    name: Apply ${{ inputs.project }} - ${{ inputs.environment }}
    environment: ${{ inputs.environment }}
    runs-on: 'ubuntu-latest'
    needs: plan
    outputs:
      workspace_url: ${{ steps.get-output.outputs.workspace_url }}
    steps:
        - uses: actions/checkout@v4
          with:
            lfs: true
        - name: Apply
          uses: ./.github/actions/run-terraform/
          with:   
            stack: platform
            project: ${{ inputs.project }}
            command: apply
            flags: "--auto-approve"
            environment: ${{ inputs.environment }}
            state_storage: "sadbxtest"
            state_resource_group: "rg-databricks"
            azure_client_id: ${{ vars.AZURE_CLIENT_ID }}
            azure_tenant_id: ${{ vars.AZURE_TENANT_ID }}
            azure_subscription_id: ${{ vars.AZURE_SUBSCRIPTION_ID }}
            azure_principal_id: ${{ vars.AZURE_PRINCIPAL_ID }}
